##ignore this file##
target
/target/
node_modules
*/target/*
.classpath
.project
.settings
*.iml
*/.DS_Store
.DS_Store
.idea/
*/.idea/
*.log
*/.vs/
logs
out/
*/out/
*/output/
*/Saved/
*/Intermediate/
*/Intermediate/*
Intermediate/
*/Build/
Build/
*/Binaries/
Binaries/

/core/target/

/browser/target/

/app/target/

/demo/target/

*.properties